@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;

}

.page{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}